body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #F0F4F9;
    text-align: center;
}
header {
    height: 10px;
    padding: 20px;
    background-color: #024d05;
}
.container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo {
    margin-top: 0;
    width: 300px;
    margin-bottom: 20px;
}
h1 {
    margin-top: 0%;
    font-size: 50px;
    color: #02530b;
    margin-bottom: 30px;
}
.login-box {
    width: 500px;
    height: 100px;
    padding: 15px;
    border: 2px solid #024d05;
    display: inline-block;
}
.login-button {
    background-color: #024d05;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.login-box .login-button a {
    text-decoration: none;
}   
.login-text {
    font-size: 14px;
    margin-top: 15px;
}
.login-text a {
    color: #02530b;
    text-decoration: none;
}
.login-text a:hover {
    text-decoration: underline;
}
